<div id="mySidenav" class="sidenav">
        <ul>
            <li><app-note></app-note></li>
            <li><app-note></app-note></li>
            <li><app-note></app-note></li>
            <li><app-note></app-note></li>
            <li><app-note></app-note></li>
        </ul>
      </div>

<div id="myBoard" class="board">

        <ul *ngIf="notesList.length>0">
                
            <li *ngFor="let item of notesList">
                    <app-note name={{item.name}} text={{item.text}}></app-note></li>
        </ul>   
      </div>

    <div class="rightpanel" id="myRightPanel"> 
    <form (submit) = "createNote(usertext,titletext)">
        
        
        
        
        
        <div class = "form-group" >
            <textarea type = "text" [(ngModel)] = "titletext"  name = "titletext" maxlength=20 class = "form-control titleClass" >
                </textarea>
                <label class="titlelabel">Note</label>
            <textarea type = "text" [(ngModel)] = "usertext" name = "usertext"  class = "form-control textAreaNew" >
            </textarea>
        </div>
        <!-- <div class = "form-group">
            <label>Password</label>
            <input type = "text" [(ngModel)] = "password" name = "password" class = "form-control">
        </div> -->
        <div class = "form-group">
            <input type = "submit"  value = "Create" class="createBtn"> 
        </div>
            
        
    </form>
    </div>